{% extends '::base.html.twig' %}

{% block body %}
	<h1>Cursussen</h1>
	<table class="table table-hover">
		<tr>
			<th>#</th>
			<th>Code</th>
			<th>Naam</th>
			<th>Oordeel</th>
			<th>Status</th>
		</tr>
		{% for course in courses %}
		<tr>
			<td>{{ course.getId }}</td>
			<td>{{ course.getCode }}</td>
			<td>{{ course.getName }}</td>
			<td>
				{% if course.getEvaluation %}
					{{ course.getEvaluation.getVerdict() }}{{ course.getEvaluation.getAction() }}
				{% else %}
					&nbsp;
				{% endif %}
			</td>
			<td>
				{% if course.getEvaluation %}
					<a href="{{ url('cloaca_evaluation_evaluation', {'course_id': course.getId}) }}" class="btn btn-mini">corrigeer</a>
					
					<a href="{{ url('cloaca_evaluation_evaluation_preview', {'course_id': course.getId}) }}" class="btn btn-info btn-mini" target="_blank">preview</a>
				{% else %}
					<a href="{{ url('cloaca_evaluation_evaluation', {'course_id': course.getId}) }}" class="btn btn-mini btn-success">evalueer</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
